@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Urbanist";
  src: url("../src/assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist-bold";
  src: url("../src/assets/fonts/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist-bolder";
  src: url("../src/assets/fonts/Urbanist-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans";
  src: url("../src/assets/fonts/PublicSans/PublicSans-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins/Poppins-SemiBold.ttf")
    format("truetype");
}

.custom-header .MuiDataGrid-colCellTitle {
  font-size: 14px;
  font-family: "Urbanist";
  font-weight: 700;
  color: #222;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f1f3;
}

::-webkit-scrollbar-thumb {
  background: #1d1f2c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
