@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Urbanist";
  src: url("../src/assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist-bold";
  src: url("../src/assets/fonts/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist-bolder";
  src: url("../src/assets/fonts/Urbanist-ExtraBold.ttf") format("truetype");
}

.custom-header .MuiDataGrid-colCellTitle {
  font-size: 14px;
  font-family: "Urbanist";
  font-weight: 700;
  color: #222;
}

/* Customize scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f1f3; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #1d1f2c; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
